<!-- Donate Start -->
<div class="donate" data-parallax="scroll" data-image-src="./assets/img/donation.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="donate-content">
                    <div class="section-header">
                        <p>Donate Now</p>
                        <h2>Let's donate to needy people for better lives</h2>
                    </div>
                    <div class="donate-text">
                        <p>
                            A donation is a gift for charity, humanitarian aid, or to benefit a cause. A donation may
                            take various forms, including money, alms, services, or goods such as clothing, toys, food,
                            or vehicles.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="donate-form">
                    <form [formGroup]="donationInfo" (ngSubmit)="addDonation(donationInfo.value)" action=""
                        method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label>Article Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name"
                                required>
                            <!-- <div class="alert-danger"
                                *ngIf="!donationInfo.controls['name'].valid && (donationInfo.controls['name'].touched)"> -->
                                <!-- <div *ngIf="f.name.touched && f.name.invalid">
                                    <div *ngIf="f.name.errors.required">Name is required.</div>
                                </div> -->
                            <!-- </div> -->
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Description"
                                formControlName="description" required>
                            <div class="alert-danger"
                                *ngIf="!donationInfo.controls['description'].valid && (donationInfo.controls['description'].touched)">
                                <!-- <div [hidden]="!donationInfo.controls['description'].errors?.required">
                              Description is required.
                            </div> -->
                                <!-- <div [hidden]="!donationInfo.controls['description'].errors?.minlength">
                              Description must be have 10 character length.
                            </div>
                            <div [hidden]="!donationInfo.controls['description'].errors?.maxlength">
                              Description must be have 1000 character length.
                            </div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-select form-control" aria-label="Select Your Donation Category"
                                formControlName="categorie" name="categorie" required>
                                <option value="Clothes" selected>Clothes</option>
                                <option value="Shoes and Bags">Shoes and Bags</option>
                                <option value="Kitchenware">Kitchenware</option>
                                <option value="Books">Books</option>
                                <option value="Toys and Games">Toys and Games</option>
                                <option value="Linens">Linens</option>
                                <option value="Hygiene Essentials">Hygiene Essentials</option>
                                <option value="Furnitures">Furnitures</option>
                            </select>
                            <!-- <div class="alert-danger"
                                *ngIf="!donationInfo.controls['type'].valid && (donationInfo.controls['type'].touched)"> -->
                                <!-- <div [hidden]="!donationInfo.controls['type'].errors?.required">
                              type is required.
                            </div> -->
                            <!-- </div> -->
                        </div>
                        <input formControlName="file" id="file" type="file" (change)="onFileChange($event)">
                        <!-- <div *ngIf="f.file.touched && f.file.invalid">
                            <div *ngIf="f.file.errors.required">File is required.</div>
                        </div> -->
                        <div>
                            <button type="submit" class="btn btn-custom">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Donate End -->