<div class="navbar navbar-expand-lg bg-dark navbar-dark" id=".navbar">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Eleos</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a [routerLink]="['/']" class="nav-item nav-link">Home</a>
                <a [routerLink]="['/about']" class="nav-item nav-link">About</a>
                <a [routerLink]="['/causes']" class="nav-item nav-link">Causes</a>
                <a [routerLink]="['/donations']" class="nav-item nav-link">Donations</a>
                <a [routerLink]="['/blog']" class="nav-item nav-link">Blog</a>
                <a [routerLink]="['/organisations']" class="nav-item nav-link">Organisations</a>
                <a [routerLink]="['/donate']" class="nav-item nav-link">Donate</a>
                <a [routerLink]="['/team']" class="nav-item nav-link">Team</a>
                <a [routerLink]="['/contact']" class="nav-item nav-link">Contact</a>
                <a  class="nav-item nav-link" *ngIf="isLoggedIn" (click)="logout()">LogOut</a>
            </div>
        </div>
    </div>
</div>