<div class="navbar navbar-expand-lg bg-dark navbar-dark" id=".navbar">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Eleos</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/causes" class="nav-item nav-link">Causes</a>
                <a href="/events" class="nav-item nav-link">Events</a>
                <a href="/blog" class="nav-item nav-link">Blog</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu">
                        <a href="/single" class="dropdown-item">Detail Page</a>
                        <a href="/service" class="dropdown-item">What We Do</a>
                        <a href="/team" class="dropdown-item">Meet The Team</a>
                        <a href="/donate" class="dropdown-item">Donate Now</a>
                        <a href="/volunteer" class="dropdown-item">Become A Volunteer</a>
                    </div>
                </div>
                
                <a href="/contact" class="nav-item nav-link">Contact</a>
                <a  class="nav-item nav-link" *ngIf="isLoggedIn" (click)="logout()">LogOut</a>
            </div>
        </div>
    </div>
</div>