.causes {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.causes .causes-carousel {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}

.causes-item {
    margin: 5px 15px;
    overflow: hidden;
    background: #f3f6ff;
}

.causes-img {
    overflow: hidden;
}

.causes-img img {
    width: 100%;
    transition: .3s;
}

.causes-item:hover img {
    transform: scale(1.1);
}


.causes .causes-progress {
    width: 100%;
    margin-top: 32px;
    padding: 30px 30px 20px 30px;
}

.causes .progress {
    height: 10px;
    border-radius: 0;
    background: #dddddd;
    overflow: visible;
}

.causes .progress .progress-bar {
    position: relative;
    width: 0px;
    background: #FDBE33;
    overflow: visible;
    transition: 2s;
}

.causes .progress-bar span {
    position: absolute;
    top: -32px;
    right: 0;
    height: 23px;
    display: inline-block;
    padding: 2px 6px;
    background: #FDBE33;
    color: #20212B;
}

.causes .progress-bar span::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 23px;
    left: calc(50% - 6px);
    border: 6px solid;
    border-color: #FDBE33 transparent transparent transparent;
}

.causes .progress-text {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.causes .progress-text p {
    margin: 0;
}

.causes-text {
    padding: 0 30px;
    height: 150px;
}

.causes-text h3 {
    font-size: 22px;
    font-weight: 700;
}

.causes-text p {
    margin: 0;
}

.causes-btn {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.causes-btn .btn {
    padding: 10px 0;
    width: 50%;
}

.causes-btn .btn:last-child {
    color: #20212B;
    background: #FDBE33;
}

.causes-btn .btn:last-child:hover {
    color: #ffffff;
}