<app-top-bar-start></app-top-bar-start>
<app-navbar></app-navbar>
<app-page-header pageName="Donations"></app-page-header>

<div class="donations">
    <div class="container">
        <div class="section-header text-center">
            <h2>“Happiness doesn't result from what we get, but from what we give“ </h2>
        </div>

            <div class="owl-carousel donations-carousel row">
                <div class="donations-item" *ngFor="let donation of donations$ | async">
                    <div class="donations-img">
                        <img src="../../assets/img/dress.jpg" alt="donation">
                    </div>
                    <div class=" donations-text">
                        <h3>{{donation.name}}</h3>
                        <p>{{donation.description}}</p>
                        <p>{{donation.categorie}}</p>
                    </div>
                    <div class="donations-btn">
                        <a class="btn btn-custom" (click)="changeState(donation)">Take</a>
                    </div>
                </div>
            </div>

            
    </div>
</div>