.donations {
    position: relative;
    width: 100%;
    padding:  0;
}

.donations .donations-carousel {
    width: calc(100% + 30px);
}
.row{
    margin-right: -50px;
}
.donations .donations-item {
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
    width: 30%;
    background: #f3f6ff;
}

.donations .donations-img {
    overflow: hidden;
}

.donations .donations-img img {
    width: 100%;
    transition: .3s;
}

.donations .donations-item:hover img {
    transform: scale(1.1);
}


.donations .donations-text {
    padding: 0 30px;
}

.donations .donations-text h3 {
    font-size: 22px;
    font-weight: 700;
}

.donations .donations-text p {
    margin: 0;
}
.donations .donations-btn {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.donations .donations-btn .btn {
    padding: 10px 0;
    width: 50%;
}

.donations .donations-btn .btn:last-child {
    color: #20212B;
    background: #FDBE33;
}

.donations .donations-btn .btn:last-child:hover {
    color: #ffffff;
}
